@using SimplCommerce.Module.Core.Models

@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductDetail

@{
    Layout = "~/Views/Shared/_LayoutWenku.cshtml";
}

@inject SignInManager<User> SignInManager

@{
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
}

@section additionalMeta {
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
}

@section head {


}

<div id="app" v-cloak v-if="datas">
    <div class="modal fade" id="ModalUserEdits" tabindex="-1" role="dialog" aria-labelledby="ModalUserEditLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <iframe :src="src" style="width: 100%;height:550px;" scrolling="no" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    


    <div class="container wenku-main">
        <div class="row">
            <div class="col-xs-9 wenku-left wenku-nopadding">

                <div class="panel panel-default wenku-noborder">
                    <div class="panel-body">
                        <div class="detail-body-title">
                            <h1>
                                <img :alt="datas.content[0].f_title" :src="inter_img+datas.content[0].f_img" /> {{datas.content[0].f_title}}

                            </h1>
                            <div class="help-block wenku-doc-info">
                                <span>
                                    <a :href="'coding.html?f_catid='+datas.content[0].f_catid" :title="datas.content[0].f_onelevel">{{datas.content[0].f_onelevel}}</a> >
                                    <a :href="'coding.html?f_catid='+datas.content[0].f_catid+'&f_cattid'+datas.content[0].f_cattid" :title="f_catidName.f_towlevel">{{datas.content[0].f_towlevel}}</a> >

                                    <span class="text-muted">文档预览</span>
                                </span>
                                <div class="pull-right text-muted">
                                    <span title="页数"><i class="fa fa-file-text-o"></i> {{datas.content[0].f_page}} 页</span>
                                    <span title="上传人"><i class="fa fa-download"></i> {{datas.content[0].f_code}} </span>
                                    <span title="浏览"><i class="fa fa-eye"></i> {{datas.content[0].f_view}} 浏览</span>
                                    <span title="金币"><i class="fa fa-comments-o"></i> {{datas.content[0].f_gold}}</span>
                                    <span title="日期"><i class="fa fa-heart-o"></i> {{datas.content[0].f_date}}</span>

                                </div>
                            </div>
                        </div>
                        <div class="wenku-viewer" id="wenku-viewer" data-scale="9">

                            <img v-for="(t,i) in  doc" src="lib/wenku/images/grey.gif" :data-original="inter_img+t.pic" class="wenku-lazy wenku-viewer-img wenku-page5" :data-page="i">
                            <div v-show="docstate" @@click="zhankai" style="position: relative;z-index: 999;" class="wenku-viewer-more text-center" data-next="6" data-ext="svg" data-svg="https://static.wenkuzhijia.cn/fb5d2c230bf3b4f99dd83bd15622a9b4/">

                                <a href="javascript:void(0);" class="wenku-viewer-more-btn">
                                    <div class="help-block">

                                        当前文档{{datas.content[0].f_page}} 页 <br> <!--还有 <span class="wenku-unread-pages">{{datas.content[0].f_page.length-doc.length}}</span>--> <span class="text-primary">继续阅读</span>
                                    </div>
                                </a>

                                <div class="help-block">
                                    <a href="javascript:void(0);" class="wenku-viewer-more-btn"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>

                             

                        </div>



                         

                    </div>
                </div>
            </div>
            <div class="col-xs-3 wenku-right">

                <div class="panel panel-default wenku-maylike">
                    <div class="panel-heading">
                        <div class="strong">热门文档</div>
                    </div>
                    <div class="panel-body">

                        <ul class="wenku-tabs-list">

                            <li v-for="(t,i) in datas.Hot">
                                <img :alt="t.f_title" :src="inter_img+t.f_img" />
                                <a :href="'info.html?id='+t.f_id" target="_blank" :title="t.f_title">{{t.f_title}}</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="panel panel-default wenku-maylike">
                    <div class="panel-heading">
                        <div class="strong">最新文档</div>
                    </div>
                    <div class="panel-body">

                        <ul class="wenku-tabs-list">

                            <li v-for="(t,i) in datas.New">
                                <img :alt="t.f_title" :src="inter_img+t.f_img" />
                                <a :href="'info.html?id='+t.f_id" target="_blank" :title="t.f_title">{{t.f_title}}</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

    </div>

    
    <div class="container-fluid navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="javascript:void(0);" class="wenku-expend"><i class="fa fa-arrows-alt em14"></i>&nbsp;</a>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#ModalShare"><i class="fa fa-share-alt em14"></i>&nbsp;</a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <p class="navbar-text"><i class="fa fa-database"></i>&nbsp;&nbsp;{{datas.content[0].f_gold}}&nbsp;&nbsp;个金币 </p>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="active" data-toggle="modal" data-target="#ModalDownload">
                                <a href="javascript:void(0);" @@click="captcha"><i class="fa fa-cloud-download em14"></i> 下载文档</a>
                            </li>
                        }
                        else
                        {
                            <li class="active">
                                <a asp-area="Core" asp-controller="Account" asp-action="Login" asp-route-returnurl="@($"{Context.Request.Path}{Context.Request.QueryString}")">
                                    <i class="fa fa-cloud-download em14"></i> 下载文档
                                </a>
                            </li>

                        }

                    </ul>
                </div>
                <div class="col-xs-3">
                    <ul class="nav navbar-nav navbar-right wenku-up-to-top">
                        <li class="active go-top">
                            <a href="#wenku-content"><i class="fa fa-arrow-up em14"></i> 回到顶部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-fixed-bottom1" style="display: none;height: 40px;">

    </div>
    <div class="container-fluid navbar-default navbar-fixed-bottom navbar-fixed-bottom1" role="navigation" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-xs-9">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="active" data-toggle="modal" data-target="#ModalDownload">
                            <a href="javascript:void(0);"><i class="fa fa-cloud-download em14"></i> 下载文档</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalDownload" tabindex="-1" role="dialog" aria-labelledby="ModalShareLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ModalDownloadLabel">请输入验证码</h4>
                </div>
                <div class="modal-body clearfix" style="text-align:center;">

                    @*<div class="help-block wenku-download-tips">文档下载，需要消耗您 <span class="text-danger">{{datas.content[0].f_gold}}</span> 个金币。</div>

                    <div class="help-block">您确定要下载 <span class="text-danger">{{datas.content[0].f_title}}</span> 文档吗？</div>*@
                    <label>验证码：</label>
                    <img id="imgcaptcha" @@click="captcha" style="cursor:pointer" alt="点击验证码刷新" />
                    <input type="text" placeholder="输入验证码" id="captchacode" style="
    width: unset;
    display: inline-block;
    margin-left: 1.0rem;
" class="form-control">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消下载</button>
                    <button type="button" @@click="download" class="btn btn-primary btn-submit-download">确定下载</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hidCapToken" />
</div>
